version: "3.3"
services:
  csp-server:
    image: csp-server
    restart: always
    environment:
      MONGO_USER: docker-root
      MONGO_PASS: thisisasecurepasswordtm
      MONGO_HOST: mongo
      PORT: "7070"
      BASENAME: "problems.getpwning.com:7070"
    ports:
      - "7070:7070"
  csp-bot:
    image: csp-bot
    restart: always
    cap_add:
      - SYS_ADMIN
    environment:
      MONGO_USER: docker-root
      MONGO_PASS: thisisasecurepasswordtm
      MONGO_HOST: mongo
      PORT: "7070"
      BASENAME: "problems.getpwning.com:7070"
  mongo:
    image: mongo:4
    environment:
      MONGO_INITDB_ROOT_USERNAME: docker-root
      MONGO_INITDB_ROOT_PASSWORD: thisisasecurepasswordtm
      MONGO_INITDB_DATABASE: postable
  vfs:
    image: vfs
    restart: always
    ports:
      - "9630:9630"
  canihaveflag:
    image: canihaveflag
    restart: always
    ports:
      - "5454:5454"
  bagelshop:
    image: bagelshop
    ports:
      - "7007:80"
    volumes:
      - ./bagelshop/web/www:/var/www/html/
  mysqldb:
    #image: mariadb
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: bageldb
      MYSQL_USER: user
      MYSQL_PASSWORD: test
      MYSQL_ROOT_PASSWORD: test
    volumes:
      - ./bagelshop/db:/docker-entrypoint-initdb.d